$green: #18c9b9;
$red: #9e1831;
$grey: rgb(242, 242, 242);
$darkblue: #303858;
$gold: #d2903f;
$primary: $darkblue;
$secondary: $darkblue;
$success: $red;
//button style
#app .btn {
    font-weight: 700;
    border-radius: 40px;
    padding-inline: 1.5rem;
    transition: all 0.3s ease-in-out;
}

#app .btn-primary {
    color: #fff
}

#app .btn-primary:hover {
    background-color: #fff;
    color: $primary;
    transform: scale(1.1);
}

#app .btn-success {
    color: #fff!important;
    background: $success;
    transition: all 0.3s ease-in-out;
}

#app .btn-success:hover {
    background: #7F131F;
    border-color: #7F131F;
    transform: scale(1.1);
}

#app .btn-success:focus,
#app .btn-success {
    box-shadow: none!important;
}

#app .btn-outline-success {
    background: #fff;
    color: $success;
    transition: all 0.3s ease-in-out;
}

#app .btn-outline-success:hover {
    background: #fff;
    color: #7F131F;
    border-color: #7F131F;
    transform: scale(1.1);
}

#app .btn-outline-primary {
    background: #fff;
    color: $primary;
    transition: all 0.3s ease-in-out;
}

#app .btn-outline-primary:hover {
    background: #303858;
    color: #fff;
    border-color: #303858;
    transform: scale(1.1);
}

#app .bg-grey {
    background-color: $grey;
}

#app .section {
    font-family: 'Source Sans Pro', sans-serif;
}

#app .section .header h2 {
    color: $red;
    font-weight: 600;
}

// #app .section .header h2:after {
//     content: "";
//     display: block;
//     margin: 20px auto;
//     position: relative;
//     width: 100px;
//     height: 5px;
//     background-color: #1c2333;
// }
.carousel__prev,
.carousel__next {
    background-color: #9e1831!important;
    box-sizing: content-box;
    border: 5px solid white;
}

#app .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(158 24 49 / 50%);
    border-radius: 0px;
}

//Import BS after customizations
@import "~bootstrap/scss/bootstrap";
//Import bs-icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");